@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');
@import '@trimble-oss/moduswebcomponents/modus-wc-styles.css';
@import './styles/globals.css';
@import 'tailwindcss';

body {
  margin: 0;
}

#root {
  width: 100%;
  min-height: 100svh;
}
